node_modules
vendor
.git
.github

/.phpunit.cache
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/public/materi/
/public/pengumpulan_tugas/
/public/build/*

nginx/ca-bundle.crt
nginx/certificate.crt
nginx/private.key
